<h1>Search Results</h1>
<% columns = infer_search_columns(@results[:hits]) %>
<div class="result_total">Total found: <%= number_with_delimiter(@results[:total]) %></div>
<a href="<%= get_xml_path(request.fullpath) %>">See these results as XML</a>
<h2><div class="expander" data-target="search"></div>Results</h2>
<div id="search" class="exp_target hidden">
<table class="results">
	<tr>
		<% columns.each { |col| %>
		<th><%= col %></th>
		<% } %>
	</tr>
	<% @results[:hits].each { |hit| %>
	<tr>
		<% columns.each { |col| %>
		<td><%= hit[col] %></td>
		<% } %>
	</tr>
	<% } %>
</table>
</div>
<h2><div class="expander" data-target="facets"></div>Facets</h2>
<div id="facets" class="exp_target hidden">
<% @results[:facets].each { |facet_name, facet_list| %>
<h3><div class="expander" data-target="<%= facet_name.gsub(/\W/, '') %>"></div><%= facet_name %></h3>
<div id="<%= facet_name.gsub(/\W/, '') %>" class="exp_target hidden">
<table class="results">
	<tr>
		<th>Facet</th>
		<th>Count</th>
	</tr>
	<% facet_list.each { |facet| %>
	<tr>
		<td><%= facet[:name] %></td>
		<td><%= number_with_delimiter(facet[:count]) %></td>
	</tr>
	<% } %>
</table>
</div>
<% } %>
</div>
