<%= link_to "<- Home", home_index_path %>
<h1>Totals</h1>
<div class="tab_content">
<a href="<%= get_xml_path(request.fullpath) %>">See these results as XML</a>
<table class="results">
	<tr>
		<th>Federation</th>
		<th>Number of Objects</th>
		<th>Number of Archives</th>
	</tr>
<% @totals.each { |total| %>
	<tr>
		<td><%= total[:federation] %></td>
		<td><%= number_with_delimiter(total[:total]) %></td>
		<td><%= total[:sites] %></td>
	</tr>
<% } %>
</table>
</div>