<h1>Collex Catalog</h1>
<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>
<p>This is a web service for searching the documents in Collex.</p>
<p>To use, TBD</p>
<% if user_signed_in? %>
	<%= link_to "Manage genres", genres_path %> | <%= link_to "Manage archives", archives_path %> | <%= link_to "Manage federations", federations_path %> | <%= link_to "Log out", destroy_user_session_path %>
<% else %>
<%= link_to "admin", new_user_session_path %>
<% end %>
