<h1>All Federations</h1>

<table class="results">
  <tr>
    <th>Name</th>
<% if user_signed_in? %>
    <th></th>
    <th></th>
    <th></th>
<% end %>
  </tr>

<% @federations.each do |federation| %>
  <tr>
    <td><%= federation.name %></td>
<% if user_signed_in? %>
    <td><%= link_to 'Show', federation %></td>
    <td><%= link_to 'Edit', edit_federation_path(federation) %></td>
    <td><%= link_to 'Destroy', federation, :confirm => 'Are you sure?', :method => :delete %></td>
<% end %>
  </tr>
<% end %>
</table>

<% if user_signed_in? %>
<br />

<%= link_to 'New Federation', new_federation_path %>
<% end %>
