<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @archive.name %>
</p>

<p>
  <b>Site url:</b>
  <%= @archive.site_url %>
</p>

<p>
  <b>Thumbnail:</b>
  <%= @archive.thumbnail %>
</p>

<p>
  <b>Carousel description:</b>
  <%= @archive.carousel_description %>
</p>

<p>
  <b>Carousel image url:</b>
  <%= @archive.carousel_image_url %>
</p>


<%= link_to 'Edit', edit_archive_path(@archive) %> |
<%= link_to 'Back', archives_path %>
