<!DOCTYPE html>
<html>
<head>
  <title>CollexCatalog</title>
  <%= stylesheet_link_tag :all %>
	<script src="http://yui.yahooapis.com/3.3.0/build/yui/yui-min.js" charset="utf-8"></script>
	<%= javascript_include_tag :defaults %>
	<%= javascript_include_tag 'tree_control' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
