<!DOCTYPE html>
<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
	<title><%= SITE_NAME_TITLE %></title>
  <%= stylesheet_link_tag :all %>
	<script src="http://yui.yahooapis.com/3.3.0/build/yui/yui-min.js" charset="utf-8"></script>
	<%= javascript_include_tag :defaults %>
	<%= javascript_include_tag 'tree_control', 'nav' %>
  <%= csrf_meta_tag %>
</head>
<body>
<div class="banner">
	<div class="title">Arc Catalog</div>
	<div class="tag_line">a web service for searching the documents collected by Arc</div>
</div>
<div class="content">
<%= yield %>
</div>
</body>
</html>
